@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#efefed
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 580px;
    background-color: #2c2929;
    border: none;
    border-radius: 12px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.left-bar {
    width: 50px;
}

.right-bar {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.fa{
    color: #fff;
}

.top-bar .fa{
    font-size: 25px
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid white 0.5px;
}

h1 {
    color: white;
}

h2 {
    color: gray ;
    font-size: 10px
}

p {
    color: white;
}