@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#efefed
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 580px;
    background-color: #2c2929;
    border: none;
    border-radius: 12px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.left-bar {
    width: 50px;
}

.right-bar {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.fa{
    color: #fff;
}

.top-bar .fa{
    font-size: 25px
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid white 0.5px;
}

h2 {
    margin-top: 10px;
    color: white;
}

h3 {
    color: rgb(78, 78, 78) ;
}

p {
    margin: 10px;
    color: white;
    text-align: center;
    padding: 0 30;
}

.button-hireme{
    padding: 10;
    margin: 20px 0;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    cursor: pointer;
    color: white;

}

.button-hireme:hover{
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);

}

hr {
    width: 90%;
    border: solid white;
}

.social-container{
    display: flex;
}

.social-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px ;
    padding: 20px;

}

.social-button button{

    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.social-button .fa{
    font-size: 30px;

}

.button-github{
    background:linear-gradient(45deg, rgb(83, 83, 83) 0%, gray 100%);


}

.button-github:hover{
    background:linear-gradient(225deg, rgb(83, 83, 83) 0%, gray 100%);

}

.button-instagram{
    background:linear-gradient(225deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);


}

.button-instagram:hover{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    
}

.button-youtube{
    background:linear-gradient(45deg, #ff0000, #622424);

}

.button-youtube:hover{
    background:linear-gradient(225deg, #ff0000, #622424);
}

.seguidores{
    color: white;
}